    body {font-family: 'Roboto',
     sans-serif;
    color:#212121;}
    
   
/* Header */
.header {background: #FFFFFF;
}

     /* Navigation */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-1 {
    color:#2196F3;
            }
.logo-2 {
    color: #000000;
}            
.list-nav {
        list-style: none;
        
    }
.nav {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none
    }
.nav:hover, 
.nav:focus {
    color: #2196F3;}
.current {
    color: #2196F3;
}

.contact {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none
}

.contact:hover,
.contact:focus {
    color: #2196F3;
}

/* Hero */
.hero {
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
}

/* OUR ADVANTAGES */
.advantages-list {
list-style: none;
}
.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #757575;
}

/* ACTIVITY */
.activity {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
}
/* TEAM */
.our-team {
    background: #F5F4FA;}
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
}
.team-activity {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* FOOTER */
.ftr  {
    background:#2F303A;
}
.logo-3 {
    color: #FFFFFF;
}
.adrs {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
}
.adrs-com {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
}

/* PORTFILIO */

/* Filter`s button */
.filter {
    list-style: none;

}
.filter-btn {
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    list-style: none;
    background: #F5F4FA;
}
.filter-btn:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

/* Work`s Portfolio */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.portfolio {
    list-style: none;
}
.portfolio-a{
    text-decoration: none;
    color: #212121;
}
.portfolio-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    text-decoration: none
}
.portfilio-list-p {
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: #757575;
}